<div class="container-fluid">

    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="titlemb-30">
                        <h2>Detalle del armado</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a onclick="history.back()" style="cursor:pointer;">Tarimas armadas</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="cursor:pointer;">
                                Detalle
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="row">
        <div class="col-lg-12">
            
                        <!--
            <div class="card-style settings-card-1 mb-30">
                <div class="profile-info">
                    <div class="row align-items-center">

                            <div class="col-xxl-3">
                            <div class="select-style-1">
                                <label>Empresa</label>
                                <div class="select-position">
                                    <select class="light-bg" ng-model="companyId" ng-change="CompanyChange(companyId)">
                                        <option value="" disabled selected>Seleccionar Empresa</option>
                                        <option ng-repeat="item in companies" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="col-xxl-3">
                            <div class="select-style-1">
                                <label>Localizacion</label>
                                <div class="select-position">
                                    <select class="light-bg" ng-model="IdZone" ng-change="CompanyLocalizationChange(IdZone)">
                                        <option value="" disabled selected>Seleccionar Localización</option>
                                        <option ng-repeat="item in zones" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="col-xxl-3">
                            <div class="input-style-1">
                                <label>Fecha de inicio</label>
                                <input type="date" ng-model="startDate" />
                            </div>
                        </div>-->
                        <!--<div class="col-xxl-3">
                            <div class="input-style-1">
                                <label>Fecha de final</label>
                                <input type="date" ng-model="endDate" />
                            </div>
                        </div>

                    </div>
                            -->
                        <!--
                    <div class="row align-items-center justify-content-end">

                            <div class="col-xxl-auto text-center">
                            <div class="input-style-1">
                                <a class="main-btn primary-btn rounded-full btn-hover w-100" style="text-decoration:none;" ng-click="Search()">Buscar</a>
                            </div>

                        </div>
                        <div class="col-xxl-auto text-center">
                            <div class="input-style-1 ">
                                <a class="main-btn danger-btn rounded-full btn-hover w-100" style="text-decoration:none;" ng-click="ClearFilters()">Limpiar Filtros</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                            -->
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="title mb-30 d-flex justify-content-between align-items-center">
                        <h6 class="mb-10">

                        </h6>
                        <div>
                            <!--Boton de Excel Funciones de descarga-->
                            <div class="col-xxl-auto text-center">
                                <div class="input-style-1 ">
                                    <a class="main-btn success-btn rounded-full btn-hover w-100" style="text-decoration:none;" ng-click="GetExcel()">Descargar Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><h6>Tarima</h6></th>
                                    <th><h6>Qr Tarima</h6></th>
                                    <th><h6>Tag RFID</h6></th>
                                    <th><h6>Producto</h6></th>
                                    <th><h6>SKU</h6></th>
                                    <th><h6>Cantiad</h6></th>
                                    <th><h6>Lote</h6></th>
                                    <th><h6>Fecha Expiración</h6></th>
                                    <th><h6>Fecha Producción</h6></th>
                                </tr>
                                <!-- end table row-->
                            </thead>
                            <tbody>
                                <tr ng-if="ExistData()" ng-repeat="item in data">

                                    <td class="min-width">
                                        <p>{{DatumToString(item.PalletBarcode.substring(10, 20))}}</p>
                                    </td>
                                    <td class="min-width">
                                        <p>{{DatumToString(item.PalletNewBarcode)}}</p>
                                    </td>
                                    <td class="min-width">
                                        <p>{{DatumToString(item.PalletTagRFID)}}</p>
                                    </td>
                                    <td class="min-width">
                                        <p style="color: #002386">{{DatumToString(item.ProductDescription)}}</p>
                                    </td>
                                    <td class="min-width">
                                        <p>{{DatumToString(item.ProductCode)}}</p>
                                    </td>
                                    <td class="min-width">
                                        <span class="status-btn deactive-bg">{{DatumToString(item.QuantityDescount)}}</span>
                                    </td>

                                    <td class="min-width">
                                        <p>{{DatumToString(item.PalletLote)}}</p>
                                    </td>
                                    <td class="min-width">
                                        <p>{{DatumToString(item.PalletExpiration_Date)}}</p>
                                    </td>
                                    <td class="min-width">
                                        <p>{{DatumToString(item.PalletProduction_Date)}}</p>
                                    </td>
                                </tr>
                                <tr ng-if="!ExistData()">
                                    <td colspan="11"><p style="text-align:center;font-size:22px;">Sin Resultados</p></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                    <pagination-control show-items-per-page="true" paging-size="pagingSize" items-per-page="itemsPerPage" total-items="totalItems" display-items="displayItems" current-page="currentPage"></pagination-control>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>


<div class="modal fade" id="ModalImages" tabindex="-1" aria-labelledby="ModalImagesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalImagesLabel">Activo - {{NameActivo}} - {{CountImage}} de {{CountImages}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"  style="background: linear-gradient(180deg, rgba(17,59,84,1) 0%, rgba(18,45,74,1) 50%, rgba(17,28,58,1) 90%)">
                <div id="CarouselImages" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div ng-repeat="item in ImagesReport" ng-class="GetCssClass_ActiveFirst($event, item)" >
                            <img src="{{item}}"
                                 class="d-block w-75 p-1" alt="..."
                                 style="margin: auto;">
                        </div>
                    </div>
                    <button class="carousel-control-prev btn-hover" type="button" ng-click="CarruselPrev()"
                            style="background: linear-gradient(180deg, rgba(17,59,84,1) 0%, rgba(18,45,74,1) 50%, rgba(17,28,58,1) 90%)">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next btn-hover" type="button" ng-click="CarruselNext()"
                            style="background: linear-gradient(180deg, rgba(17,59,84,1) 0%, rgba(18,45,74,1) 50%, rgba(17,28,58,1) 90%)">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>