<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Recuperar Contraseña</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#0">Auth</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Recuperar Contraseña
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-recover-pass">
                    <!--<div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Password assistance</h1>
                            <p class="text-medium para-width-500 mx-auto">
                                Ingrese su correo electronico para recuperar su contraseña, esta sera enviada a su correo electronico <a>contact</a>
                            </p>
                        </div>
                        <div class="cover-image">-->
                            <!--<img src="assets/images/auth/reset-password.svg" alt="">-->
                            <!--<img src="images/auth/reset-password.svg" />
                        </div>
                        <div class="shape-image">-->
                            <!--<img src="assets/images/auth/shape.svg" alt="">-->
                            <!--<img src="images/auth/shape.svg" />
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="reset-password-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15">Asistencia de Contraseña</h6>
                        <p class="text-sm mb-25">
                            Ingrese su correo electrónico para recuperar su contraseña
                        </p>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Correo electronico</label>
                                        <input type="email" required placeholder="Correo electronico" ng-model="email_recovery">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-start flex-wrap">
                                        <button class="main-btn primary-btn btn-hover rounded-full text-center" ng-click="PassRecovery()">
                                            Continuar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                        <div class="d-flex justify-content-between flex-wrap pt-40">
                            <a class="hover-underline" style="cursor:pointer;" ng-click="GoBack()"> Iniciar Sesión </a>
                        </div>
                    </div>
                </div>


                <!-- Logo -->
                <div class="col-md-12 order-last">
                    <div class="copyright text-end text-md-end">
                        <p class="text-sm" style="font-weight: bold;">
                            Powered by
                            <img src="images/logo_idconsultores.png"
                                 alt="Id Consultores"
                                 height="50"
                                 href="https://www.id-consultores.com/" />
                        </p>
                    </div>
                </div>


            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>