<div class="container-fluid">
    <!-- Título -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="mb-30"><i class="lni lni-menu"></i> Motivos de rechazo <i class="lni lni-lock"></i></h2>
            </div>
        </div>
    </div>

    <!-- Filtros -->
    <div class="card-style settings-card-1 mb-30">
        <div class="row g-3 align-items-end">
            <div class="col-lg-6 col-md-12">
                <div class="input-style-1">
                    <label><i class="lni lni-search-alt"></i> Buscar</label>
                    <input type="text" ng-model="filterSearch" placeholder="Nombre, descripción..." />
                </div>
            </div>

            <div class="col-lg-6 col-md-12 d-flex justify-content-end gap-2">
                <div class="col-xxl-auto text-center">
                    <div class="input-style-1">
                        <a class="main-btn primary-btn rounded-full btn-hover w-100" style="text-decoration:none;" ng-click="Search()"><i class="lni lni-search"></i> Buscar</a>
                    </div>

                </div>
                <div class="col-xxl-auto text-center">
                    <div class="input-style-1 ">
                        <a class="main-btn danger-btn rounded-full btn-hover w-100" style="text-decoration:none;" ng-click="ClearFilters()"><i class="lni lni-brush-alt"></i> Limpiar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla de Destinos -->
    <div class="card-style mb-30">
        <div class="d-flex justify-content-between align-items-center mb-20">
            <h6 class="mb-0"><i class="lni lni-list"></i> Listado de Destinos</h6>
            <div>
                <!--<a class="main-btn primary-btn rounded-full btn-hover" ui-sref="rejection.add" style="text-decoration:none;"> <i class="lni lni-plus"></i> Agregar Destino</a>-->
            </div>
        </div>

        <div class="table-wrapper table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th><h6><i class="lni lni-information"></i> Nombre</h6></th>
                        <th><h6><i class="lni lni-information"></i> Descripción</h6></th>
                        <th><h6><i class="lni lni-information"></i> Tipo de rechazo</h6></th>
                        <th><h6><i class="lni lni-checkmark-circle"></i> Estatus</h6></th>
                        <th><h6><i class="lni lni-cogs"></i> Opciones</h6></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ExistData()" ng-repeat="item in data">
                        <td><p>{{DatumToString(item.RejectionType)}}</p></td>
                        <td><p>{{DatumToString(item.Description)}}</p></td>
                        <td><p>{{DatumToString(item.RejectionReason)}}</p></td>
                        <td>
                            <span class="badge bg-success" ng-if="item.Status">
                                <i class="lni lni-checkmark"></i> Activo
                            </span>
                            <span class="badge bg-danger" ng-if="!item.Status">
                                <i class="lni lni-close"></i> Inactivo
                            </span>
                        </td>
                        <td>
                            <div class="action">
                                <button class="text-warning">
                                    <i class="lni lni-lock"></i>
                                </button>
                                <!--<div class="action">
                                    <button class="text-danger" ng-click="Remove(item.Id)">
                                        <i class="lni lni-trash-can"></i>
                                    </button>
                                </div>-->
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="!ExistData()">
                        <td colspan="4">
                            <p class="text-center text-muted fs-5"><i class="lni lni-warning"></i> Sin resultados</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <pagination-control show-items-per-page="true"
                            paging-size="pagingSize"
                            items-per-page="itemsPerPage"
                            total-items="totalItems"
                            display-items="displayItems"
                            current-page="currentPage">
        </pagination-control>
    </div>
</div>
