<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="titlemb-30">
                    <h2>Agricultor</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a onclick="history.back()" style="cursor:pointer;">Agricultores</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="cursor:pointer;">
                                Editar
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card-style settings-card-1 mb-30">

                <div class="
                    title
                    mb-30
                    d-flex
                    justify-content-between
                    align-items-center
                  ">

                    <h6>Editar</h6>
                    <button class="border-0 bg-transparent" ng-click="ChangueMode()">
                        <i class="lni lni-pencil-alt"></i>
                    </button>
                </div>
                <div class="warning-alert p-0 " ng-if="!editMode">
                    <div class="alert p-0">
                        <p class=" text-center text-medium">Solo Lectura</p>
                    </div>
                </div>
                <div class="profile-info">
                    <div class="input-style-1">
                        <label>Nombre completo<span class="required">*</span></label>
                        <input type="text"
                               ng-model="model.Name" />
                    </div>
                    <div class="row">
                        <div class="col-xxl-9">
                            <div class="input-style-1">
                                <label>Nombre corto</label>
                                <input type="text" ng-model="model.ShortName" ng-disabled="!editMode" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="input-style-1">
                                <label>Correo</label>
                                <input type="text" ng-model="model.Email" ng-disabled="!editMode" />
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="input-style-1">
                                <label>Tel. Móvil</label>
                                <input type="text" ng-model="model.Phone" ng-disabled="!editMode" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="input-style-1">
                                <label>RFC</label>
                                <input type="text" ng-model="model.RFC" ng-disabled="!editMode" />
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="input-style-1">
                                <label>Razón Social</label>
                                <input type="text" ng-model="model.BusinessName" ng-disabled="!editMode" />
                            </div>
                        </div>
                    </div>
                    <div class="input-style-1">
                        <label>Direccion</label>
                        <input type="text"
                               ng-model="model.Address" ng-disabled="!editMode" />
                    </div>
                    <div class="input-style-1">
                        <label>Ciudad</label>
                        <input type="text"
                               ng-model="model.City" ng-disabled="!editMode" />
                    </div>
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="input-style-1">
                                <label>Link Preliquidación Monterrey</label>
                                <input type="text" ng-model="model.MtyPreliquidationLink" />
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="input-style-1">
                                <label>Link Preliquidación Villahermosa</label>
                                <input type="text" ng-model="model.VsaPreliquidationLink" />
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-12 col-sm-12 " ng-if="editMode">
                        <button class="main-btn primary-btn rounded-full btn-hover w-100" ng-click="Update()">
                            Actualizar
                        </button>
                    </div>

                </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end row -->
</div>