<div class="container-fluid">

    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="titlemb-30">
                    <h2>Tipos de líneas</h2>
                </div>
            </div>
            <!-- end col -->
            <!--<div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a onclick="history.back()" style="cursor:pointer;">Inventario</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="cursor:pointer;">
                                Detalle
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>-->
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <div class="title mb-30 d-flex justify-content-between align-items-center">
                    <h6 class="mb-10">Listado de tipos de líneas</h6>
                    <a class="main-btn primary-btn rounded-full btn-hover" ui-sref="linetype.add" style="text-decoration:none;">Agregar tipo de línea</a>
                </div>
                <div class="table-wrapper table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><h6>Name</h6></th>
                                <th><h6>Descripción</h6></th>
                                <th><h6>Opciones</h6></th>
                            </tr>
                            <!-- end table row-->
                        </thead>
                        <tbody>
                            <tr ng-if="ExistData()" ng-repeat="item in data">
                      
                                <td class="min-width">
                                    <p>{{DatumToString(item.Name)}}</p>
                                </td>
                                <td class="min-width">
                                    <p>{{DatumToString(item.Description)}}</p>
                                </td>
                                <td>
                                    <div class="action">
                                        <button class="text-warning" ui-sref="linetype.edit" ng-click="GoEdit(item.Id)">
                                            <i class="lni lni-pencil"></i>
                                        </button>
                                        <div class="action">
                                            <button class="text-danger" ng-click="Remove(item.Id)">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="!ExistData()">
                                <td colspan="3"><p style="text-align:center;font-size:22px;">Sin Resultados</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end table -->
                </div>
                <pagination-control show-items-per-page="true" paging-size="pagingSize" items-per-page="itemsPerPage" total-items="totalItems" display-items="displayItems" current-page="currentPage"></pagination-control>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>